.signup-form{
    background-color: #fff;
    width: 100%;
    max-width: 1500px; 
}

.signup-header{
    color: #000;
    height: 80px;
    margin-left: 10px;
    line-height: 2em;
    border-radius: 5px 5px 0 0 ;
}

.asterisco{
    color: #f00;
    margin-left: -5px;
}

.alert{
    padding: 7px 5px;
    text-align: center;
}

.signup-btn{
    display: flex;
    justify-content: flex-end;
}


@media screen and (max-width: 767px ) {
    .signup-form{
        
    }
}

@media screen and (max-width: 991px ) {
    .signup-form{
        
    }
}